.main-container{
    // background-image: url("../../../assets/images/intro-img.png");
    background-color: #faf9fe;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
  }